{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content%}
<h2>Login</h2>
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% end if %}
<form method="post" action="/ui/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br/>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
    <br/>
    <button type="submit">Login</button>
</form>
{% endblock %}